/**************************/
/*		   LOGIN 		  */
/**************************/

.login-formulaire{
	background-color:#FAFAFA;
	border-radius:10px;
	width:200px;
	height:300px;
	text-align:center;
	margin:0 auto;
	-moz-box-shadow: 10px 10px 40px 0px #656565;
	-webkit-box-shadow: 10px 10px 40px 0px #656565;
	-o-box-shadow: 10px 10px 40px 0px #656565;
	box-shadow: 10px 10px 40px 0px #656565;
}
.login-formulaire .login-container{
	width:98%;
	height:98%;
	margin:0 auto;
	padding:20px 0;
}
.login-formulaire .login-container .login{
	height:45%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
    align-items:center;
    padding-top:30px;
}
.login-formulaire .login-container .legend{
	margin:0 auto;
	padding-top:30px;
}
.login-formulaire .login-container .login input[placeholder]{
	text-align:center;
	width:75%;
	padding:5px 0;
}
.button-submit-login{
	width:75%;
	padding:5px 0;
	border:hidden;
	border-radius:10px;
	background-color:#428BCA;
	text-transform:uppercase;
	color:white;
}
.login-formulaire .login-container .forgotten-pwd{
	margin-top: 30px;
    display: block;
    text-decoration: none;
    color: black;
}

/**************************/
/*		   LIGHTBOX		  */
/**************************/



#filter
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index:10;
	opacity:0.5;
	filter: alpha(opacity=50);
}

#box
{
	display: none;
	height: 100px;
	padding: 48px;
	width:30%;
	margin:0 auto;
	border: 1px solid black;
	background-color: white;
	z-index:101;
	overflow: none;
}

#boxtitle
{
	position:absolute;
	float:center;
	top:0;
	left:0;
	width:100%;
	height:24px;
	padding:0;
	padding-top:4px;
	left-padding:8px;
	margin:0;
	border-bottom:2px solid black;
	background-color: #428BCA;
	color:white;
	text-align:center;
}

.close-pwd-lightbox {
	background-color:#d13636;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ab1919;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662828;
}
.close-pwd-lightbox:hover {
	background-color:#bd2a2a;
}
.close-pwd-lightbox:active {
	position:relative;
	top:1px;
}
.form-forgottent-pwd{
	text-align:center;
}
.form-forgottent-pwd button {
    margin-top: 30px;
}

/**************************/
/*		   FIRST FRAME	  */
/**************************/

.first-frame{
	width:660px;
	margin: 0 auto;
}

.main-carousel .slick-slide{
	color:grey;
	width:250px;
	height:100px;;
	background-repeat:no-repeat;
}
.main-carousel .slick-current{
	color:black;
}
.main-carousel .slick-slide:not(.slick-current){
	color:black;
	opacity:0.4!important;
}